body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "yellow yellow yellow yellow"
    "blue orange orange orange"
    "blue red red red"
    "blue green green green";
    gap: 10px;
}

#yellow {
    grid-area: yellow;
}

#blue {
    grid-area: blue;
}

#orange {
    grid-area: orange;
}

#red {
    grid-area: red;
}

#green {
    grid-area: green;
}

ul {
    display: flex;
    align-items: center;
}

li {
    flex-grow: 1;
}

#yellow li:first-child {
    flex-grow: 3;
}



