body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "green green green"
    "yellow orange red"
    "yellow blue red";
    gap: 10px;
}

#green {
    grid-area: green;
}

#yellow {
    grid-area: yellow;
}

#orange {
    grid-area: orange;
}

#red {
    grid-area: red;
}

#blue {
    grid-area: blue;
}